.logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}

.container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}
.container.content {
    padding:  40px 0;
}