.reg {
    margin-top: 9%;
    margin-left: 40%;
    width: 300px;
    border: 4px solid linear-gradient(108deg, #2a5ffb 0%, #b8e8fc 100%);
    padding: 20px;
    background: #2a5ffb;
    background: -webkit-linear-gradient(108deg, #2a5ffb 0%, #b8e8fc 100%);
    background: linear-gradient(108deg, #2a5ffb 0%, #b8e8fc 100%);
}

.login-form {
    max-width: 300px;
}

.login-form-forgot {
    float: right;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.login-form-button {
    width: 100%;
}